body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: rgb(255, 255, 255);
}

.aa1 {
    border: 2px solid rgb(207, 207, 207);
    border-radius: 7px;
    width: 420px;
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
}

.aa1 form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
}

.aa1 h1 {
    font-size: 36px;
    text-align: center;
    margin-bottom: 30px;

}

.input-box {
    width: 100%;
    height: 60px;
    margin: 5px 0;
    padding: 0 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 50px;
}

.input-box:focus-within {
    border-color: rgb(0, 179, 255);
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    color: white;
    font-size: 18px;
}

.input-box input::placeholder {
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 300;

}

.input-box i {
    position: relatives;
    font-size: 20px;
    padding-left: 3px;
}

.label-1 {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
}

.label-1 label {
    color: white;
    font-size: 18px;
}

.label-1 a {
    color: white;
    font-size: 18px;
}

.label-1 a:hover {
    color: rgb(255, 0, 0);
}

.btn {
    width: 100%;
    height: 40px;
    border: 2px solid white;
    border-radius: 20px;
    background-color: white;
    color: black;
    font-size: 15px;
    font-weight: 600;
    margin: 5px 0;
}

.btn:hover {
    background-color: rgb(166, 166, 166);
}

.label-2 {
    color: white;
    font-size: 18px;
    margin-bottom: 50px;
}

.label-2 a {
    color: white;
}

.label-2 a:hover {
    color: rgb(255, 0, 0);
}